 #titolo{
 text-align: center; /*posizione scritta*/
 color: black; 
 padding:0 0 40px 0 ;
 border-bottom: 1px solid silver; 
 }
 

 .sotto{/*bottoni sotto*/
  padding:30px;
  display: flex;  
  justify-content:flex-end; /*porta sul lato sinistro*/
   
  
 }
  
 h4{
 text-align: center;
 text-decoration:none;
 }
 
 
 
 *{
 	padding:10px;
 }
 
  table{  
border-collapse: collapse;
  width: 100%;
  border: none;
  
  
 }
 th, td { /*renderla accettabile*/
  text-align: left;
  padding: 8px;
  text-decoration:none;
}
 tr:nth-child(even) { /*alternare il colore delle colonne*/
  background-color:#FFFAFA;
}

 
 /*pulsanti in tabella*/
  
.buttons {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex; 
    justify-content: center;
    align-items:center;
    width:100%;
  }

  .buttons button {
    margin-left: 15px;
    background-color: white;
    border: 1px solid #f1f1f1;
    transition: ease-out 0.4s;
  }

  .buttons button h6 {
    margin: 12px 8px;
    transition: ease-out 0.4s;
  }

 .buttons button:hover {
    background-color: #6ea25a;
    transition: ease-in 0.4s;
 }

 .buttons button:hover h6 {
    color: white;
    transition: ease-in 0.4s;
 }
 
  /*pulsanti fisso aggiungi*/
  
.buttons1 {
     
  position: fixed;
  bottom: 100px;
  right: 0;
  width: 200px;;
  
  
  }

  .buttons1 button {
    margin-left: 15px;
    background-color: #6ea25a;
    border: 1px solid #f1f1f1;
    transition: ease-out 0.4s;
    width:100px;
    height:99px;
    border-radius:50%;
     
   }
   

  .buttons1 button .black {
  font-size:28px;
    margin: 12px 8px;
    transition: ease-out 0.4s;
   }

 .buttons1 button:hover {
    background-color: #6ea25a;
    transition: ease-in 0.4s;
    
 }

 .buttons1 button:hover i {
    color: white;
    transition: ease-in 0.4s;
 }
 
   /* swipe up*/
 .body {
 	display: flex;
 	justify-content: center;
 	flex-direction: column;
 }

  
 input {
 border-width: 1px;
  border-radius: 10px;
  border-color: light-grey;
  height: 50px;
  width: 100%;
 }
 textarea{
  border-width: 1px;
  border-radius: 10px;
  border-color: light-grey;
  height: 200px;
  width: 100%;
 }
  
  .spacing {
  margin-bottom: 30px;
  }
 
 
 .change{
 	background-color: #6ea25a;
 	
 }
  .change h6{
 	color:white;
 	
 }
 
 
 