* {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

/* Stile per il sistema di griglia */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Stile per le colonne */
.col {
    position: relative;
    width: 100%;
    min-height: 1px;

}

/* Stili per le diverse dimensioni delle colonne */
.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.container .row .col-6 a{
    text-decoration: none;
    color: white;
}

.form-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #6ea25a;
}

.inner {
    width: 100%;
    height: 44px;
}

.input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
}

.btn-search{
    width: 15%;
    height: 44px;
    background-color: green;
    border:none !important;
}

.vertical-menu{
    height: auto;
    display: flex;
    align-items: center;
}

.mini-nav{
    height: 60px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mini-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    
}

.mini-nav ul li {
    position: relative;
    margin: 0 10px;
}

.mini-nav ul li a {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: block;
}

.mini-nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    display: none;
}

.mini-nav ul li:hover ul {
    display: block;
}

.mini-nav ul li ul li {
    width: 150px;
    margin: 0;
}

.mini-nav ul li ul li a {
    padding: 10px;
}

.mini-nav .vertical-menu{
    background-color: #65a15a;
    width: 270px;
    display: flex;
    justify-content: center;
    height:inherit;
    padding: 15px 30px;
    position: relative;
}

.mini-nav .vertical-menu span{
	color:white;
}


.mini-nav .vertical-menu:hover ul{
    display: block;
}

.mini-nav .vertical-menu span ul{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    display: none;

}

.mini-nav .vertical-menu span ul li{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.mini-nav .vertical-menu .block-iconmenu{
    width: auto;
    height: auto;
    display: flex;
}

.mini-nav .vertical-menu .block-iconmenu img{
    width: 30px;
    height: 30px;
}

.nav-btn {
	color: #222;
	transition:ease-out 0.2s;
}

.nav-btn:firt-child {
	color: #222;
	margin-right: 25px;
	transition:ease-out 0.2s;
}

.nav-btn:hover{
	transition:ease-in 0.2s;
}

 .search-mobile-display{
     display:none;
     	
}

@media (max-width: 768px) {
      
 
}

@media (max-width: 480px) {
      .col-xs-1 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-2 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-3 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-4 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-5 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-6 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-7 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-8 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-9 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-10 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-11 { flex: 0 0 100%; max-width: 100%; }
      .col-xs-12 { flex: 0 0 100%; max-width: 100%; }
      
      	
      	
      	.search-mobile-none{
      		display:none;
     	
      	}
      	
      	.search-mobile-display{
      		display:block;
     	
      	}
      	
      	.nav-btn:first-child{
      		margin-right: 10px;
      	}
      
      
      	.mini-nav ul{
			display:none !important;
		}
		
		.container .row .col-4 img{
			width: 72px;
			height: 60px;
		} 
		
		.container .row .col-xs-3{
			max-width: 50%;
			justify-content: end !important;
		}
		
		.fa-2xl{
			font-size:1.5em !important;
			line-height: 0 !important;
			vertical-align: 0 !important;
		} 
}



